xscreensaver-6.00.tar.gz filter=lfs diff=lfs merge=lfs -text
INSTALL filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
config.status filter=lfs diff=lfs merge=lfs -text
install-sh filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
archive filter=lfs diff=lfs merge=lfs -text
BUILD-linux.md filter=lfs diff=lfs merge=lfs -text
OSX filter=lfs diff=lfs merge=lfs -text
ax_pthread.m4 filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
config.sub filter=lfs diff=lfs merge=lfs -text
intltool-update.in filter=lfs diff=lfs merge=lfs -text
pam.d-xscreensaver.txt filter=lfs diff=lfs merge=lfs -text
autom4te.cache filter=lfs diff=lfs merge=lfs -text
config.guess filter=lfs diff=lfs merge=lfs -text
config.log filter=lfs diff=lfs merge=lfs -text
hacks filter=lfs diff=lfs merge=lfs -text
intltool-merge.in filter=lfs diff=lfs merge=lfs -text
po filter=lfs diff=lfs merge=lfs -text
usr filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
etc filter=lfs diff=lfs merge=lfs -text
jwxyz filter=lfs diff=lfs merge=lfs -text
run filter=lfs diff=lfs merge=lfs -text
xscreensaver_6.00-1_amd64.deb filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
README.hacking filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
description-pak filter=lfs diff=lfs merge=lfs -text
driver filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
android filter=lfs diff=lfs merge=lfs -text
intltool-extract.in filter=lfs diff=lfs merge=lfs -text
var filter=lfs diff=lfs merge=lfs -text
xscreensaver-6.00-2.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
45-fingerprint.rules filter=lfs diff=lfs merge=lfs -text
config.h.in filter=lfs diff=lfs merge=lfs -text
doc-pak filter=lfs diff=lfs merge=lfs -text
xscreensaver.spec filter=lfs diff=lfs merge=lfs -text
