

# your vendor id, device id

SUBSYSTEM=="usb_device", ACTION=="add",
SYSFS{idVendor}=="138a" ,
SYSFS{idProduct}=="003f",
SYMLINK+="fingerprint-%k",
GROUP="fingerprint",
MODE="666"

KERNEL=="uinput", MODE="666", GROUP="fingerprint"
